nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;

    position: absolute;
    top: 0%;
    /* left: 15vh; */
    width: 75vw;
    height: 10vh;
  }
  
  input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 25rem;
    background-color: rgba(238, 239, 243, 0.8);
  }
  

  .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }

  .zevi-image{
    height: 40px;
    width: 80px;
  }